$border-color: #1F2937;
$table-header-cell-border-color: #D1D5DB;
$table-cell-border-color: #E5E7EB;
$text-color: #111827;
$text-color-disabled: #9CA3AF;
$table-header-background: #E5E7EB;
$focus-color: #5468ff;
$input-border-color: #1d1c1d4d;
$white: #fff;